.app {
  height: 100vh;
  position: relative;
}

.header-toolbar {
  position: relative;
}

.header-burger-button {
  position: absolute;
  left: 0;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.not-found-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  text-align: center;
}
